/* Additional styling for the date pickers */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated font stack */
  background-color: #B0E0E6; /* Light gray background */
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333; /* Dark gray header color */
  margin-top: 20px;
}

#datepicker1,
#datepicker2 {
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

.datepicker {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 10px;
}

.month-year-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Dark gray header color */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0; /* Light gray header background */
  color: #333; /* Dark gray header color */
  font-weight: bold;
}

td.dimmed {
  color: #ccc; /* Light gray dimmed text color */
}

td.selected {
  background-color: #3498db; /* Blue selected date background */
  color: #fff; /* White text color */
  border-radius: 50%; /* Rounded border */
  cursor: pointer;
}

td.selected:hover {
  background-color: #2186c4; /* Darker blue on hover */
}

td:not(.dimmed):hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  cursor: pointer;
}

.nav-button {
  background-color: #3498db; /* Blue navigation buttons */
  color: #fff; /* White text color */
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%; /* Circular button */
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-button:hover {
  background-color: #2186c4; /* Darker blue on hover */
}

.month-year-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previousMonthButton,
.nextMonthButton {
  margin: 0 10px;
}

/* Style for the selected date */
.selected {
  background-color: #3498db; /* Blue selected date background */
  color: #fff; /* White text color */
  border-radius: 50%; /* Rounded border */
}

/* Style for days not in the current month */
.other-month {
  color: #ccc; /* Light gray dimmed text color */
}
